Test-4.json
{"flowContents":{"identifier":"31d4498c-6340-3b09-847f-80c8aa08e8aa","instanceIdentifier":"9e6eae4a-0198-1000-9e5f-9f7fefe01cde","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"130216ac-2739-3719-8e71-39f26a507284","instanceIdentifier":"9e75a33a-0198-1000-e05d-23759405449e","name":"Test1","comments":"","position":{"x":-392.0,"y":-144.0},"processGroups":[{"identifier":"992877ce-0c82-31aa-9a45-86deec678b48","instanceIdentifier":"9eba399e-0198-1000-e35b-66cbfba42632","name":"Подписка","comments":"","position":{"x":24.0,"y":-400.0},"processGroups":[{"identifier":"3b639f5c-15b1-34cf-b63a-22d43bacea7e","instanceIdentifier":"9ebbd00b-0198-1000-c811-06a413b0eeea","name":"Чтение из Kafka (из топика outbox)","comments":"","position":{"x":-1320.0,"y":-1072.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a324590c-0198-1000-d33f-a2b56457333a","instanceIdentifier":"1dfea578-2c58-3297-4b35-f5111038158d","name":"ConsumeKafka","comments":"","position":{"x":-2312.0,"y":-1168.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.5.0"},"properties":{"Topics":"outbox","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"d1b27f62-ea4d-3ce1-a708-687f145babe8","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"1","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3b639f5c-15b1-34cf-b63a-22d43bacea7e"},{"identifier":"1336a6d4-8056-3efd-a964-9e6b5c71ddbb","instanceIdentifier":"a950963b-0198-1000-b357-ef3889f7ac00","name":"Добавление метаданных","comments":"","position":{"x":-1656.0,"y":-816.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.5.0"},"properties":{"jslt-transform-pretty_print":"true","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"{\n  \"meta\": {\n    \"source\": \"kafka\",\n    \"key\": \"${kafka.key}\"\n  },\n  *: .\n}\n","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3b639f5c-15b1-34cf-b63a-22d43bacea7e"},{"identifier":"e06bb72f-2269-3833-ab09-43713978e641","instanceIdentifier":"9ec2f5ca-0198-1000-4f75-a3b69a895519","name":"ConsumeKafka","comments":"","position":{"x":-2312.0,"y":-984.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.5.0"},"properties":{"Topics":"outbox","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"d1b27f62-ea4d-3ce1-a708-687f145babe8","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"1","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3b639f5c-15b1-34cf-b63a-22d43bacea7e"}],"inputPorts":[],"outputPorts":[{"identifier":"fdf1e933-ab7f-3242-87fe-e81b91939bd6","instanceIdentifier":"9ebe5999-0198-1000-61c7-8560f784cc5f","name":"Выход","position":{"x":-1600.0,"y":-608.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3b639f5c-15b1-34cf-b63a-22d43bacea7e"}],"connections":[{"identifier":"a568b7dd-1170-3118-8964-f6f0aab73c4d","instanceIdentifier":"a951403a-0198-1000-a5b3-19121e821009","name":"","source":{"id":"e06bb72f-2269-3833-ab09-43713978e641","type":"PROCESSOR","groupId":"3b639f5c-15b1-34cf-b63a-22d43bacea7e","name":"ConsumeKafka","comments":"","instanceIdentifier":"9ec2f5ca-0198-1000-4f75-a3b69a895519"},"destination":{"id":"1336a6d4-8056-3efd-a964-9e6b5c71ddbb","type":"PROCESSOR","groupId":"3b639f5c-15b1-34cf-b63a-22d43bacea7e","name":"Добавление метаданных","comments":"","instanceIdentifier":"a950963b-0198-1000-b357-ef3889f7ac00"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3b639f5c-15b1-34cf-b63a-22d43bacea7e"},{"identifier":"27071e3a-6acd-31b9-9821-15a205a506fe","instanceIdentifier":"a9512ab3-0198-1000-c7f6-2c8bb728d299","name":"","source":{"id":"a324590c-0198-1000-d33f-a2b56457333a","type":"PROCESSOR","groupId":"3b639f5c-15b1-34cf-b63a-22d43bacea7e","name":"ConsumeKafka","comments":"","instanceIdentifier":"1dfea578-2c58-3297-4b35-f5111038158d"},"destination":{"id":"1336a6d4-8056-3efd-a964-9e6b5c71ddbb","type":"PROCESSOR","groupId":"3b639f5c-15b1-34cf-b63a-22d43bacea7e","name":"Добавление метаданных","comments":"","instanceIdentifier":"a950963b-0198-1000-b357-ef3889f7ac00"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3b639f5c-15b1-34cf-b63a-22d43bacea7e"},{"identifier":"21a96116-0f0e-3af6-acda-69c45a2bcd4a","instanceIdentifier":"a9515ae0-0198-1000-0e5b-1522bf9829a2","name":"","source":{"id":"1336a6d4-8056-3efd-a964-9e6b5c71ddbb","type":"PROCESSOR","groupId":"3b639f5c-15b1-34cf-b63a-22d43bacea7e","name":"Добавление метаданных","comments":"","instanceIdentifier":"a950963b-0198-1000-b357-ef3889f7ac00"},"destination":{"id":"fdf1e933-ab7f-3242-87fe-e81b91939bd6","type":"OUTPUT_PORT","groupId":"3b639f5c-15b1-34cf-b63a-22d43bacea7e","name":"Выход","instanceIdentifier":"9ebe5999-0198-1000-61c7-8560f784cc5f"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3b639f5c-15b1-34cf-b63a-22d43bacea7e"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d1b27f62-ea4d-3ce1-a708-687f145babe8","instanceIdentifier":"9ecc2efa-0198-1000-6727-0e8e77b79fb3","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.5.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"#{kafka_host}:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b639f5c-15b1-34cf-b63a-22d43bacea7e"}],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"992877ce-0c82-31aa-9a45-86deec678b48"},{"identifier":"4f2a3a24-6f49-3a89-b3b3-5248149d610b","instanceIdentifier":"ae20e99d-0198-1000-88f8-10ee24073cb2","name":"Запись в Kafka (в топик inbox)","comments":"","position":{"x":-208.0,"y":-560.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"57e80ee9-600f-30fb-ba49-13d34e1db9fe","instanceIdentifier":"ae2152dd-0198-1000-d4f4-ce8e0abfd75d","name":"PublishKafka","comments":"","position":{"x":-1768.0,"y":-1088.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.5.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"inbox","Kafka Key":null,"partition":null,"Kafka Connection Service":"#{Kafka Connection Service}","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":".+"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f2a3a24-6f49-3a89-b3b3-5248149d610b"}],"inputPorts":[{"identifier":"b99bd14d-b4c3-3130-87a0-0c55194a7f25","instanceIdentifier":"ae210e72-0198-1000-f30e-cea798445fe0","name":"Вход","position":{"x":-1715.0,"y":-1292.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"4f2a3a24-6f49-3a89-b3b3-5248149d610b"}],"outputPorts":[],"connections":[{"identifier":"41dd3b97-37c0-3e36-9761-6363b4cdd9ec","instanceIdentifier":"ae2a0b3f-0198-1000-bec1-c145a458445c","name":"","source":{"id":"b99bd14d-b4c3-3130-87a0-0c55194a7f25","type":"INPUT_PORT","groupId":"4f2a3a24-6f49-3a89-b3b3-5248149d610b","name":"Вход","instanceIdentifier":"ae210e72-0198-1000-f30e-cea798445fe0"},"destination":{"id":"57e80ee9-600f-30fb-ba49-13d34e1db9fe","type":"PROCESSOR","groupId":"4f2a3a24-6f49-3a89-b3b3-5248149d610b","name":"PublishKafka","comments":"","instanceIdentifier":"ae2152dd-0198-1000-d4f4-ce8e0abfd75d"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f2a3a24-6f49-3a89-b3b3-5248149d610b"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"992877ce-0c82-31aa-9a45-86deec678b48"},{"identifier":"bf32aacd-eaa3-3422-b689-9fc3c302c818","instanceIdentifier":"a8f824f2-0198-1000-e359-b6bacdeee4bf","name":"Запись в файлы (в каталог inbox)","comments":"","position":{"x":-1320.0,"y":-560.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a8f886ab-0198-1000-38ed-5da207cce3f8","instanceIdentifier":"297054bb-f520-3801-6bf8-fc3dcc0c4b62","name":"UpdateAttribute","comments":"","position":{"x":-1872.0,"y":-984.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"${now():format(\"yyyy-MM-dd_HH:mm:ss\", \"Europe/Moscow\")}_${uuid}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf32aacd-eaa3-3422-b689-9fc3c302c818"},{"identifier":"a8f8aab6-0198-1000-54e0-45833fb0eedb","instanceIdentifier":"5bfc31c7-0812-3d43-633b-9b44b8d35502","name":"PutFile","comments":"","position":{"x":-1872.0,"y":-768.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/var/data/inbox","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf32aacd-eaa3-3422-b689-9fc3c302c818"}],"inputPorts":[{"identifier":"067e97ea-9615-3c18-90c7-ea1c49a705f4","instanceIdentifier":"a8f92cac-0198-1000-954c-4d5ff032f966","name":"Вход","position":{"x":-1816.0,"y":-1104.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"bf32aacd-eaa3-3422-b689-9fc3c302c818"}],"outputPorts":[],"connections":[{"identifier":"05e17fcb-8f24-3ddd-9dd4-78bebd621d85","instanceIdentifier":"a8f93abb-0198-1000-5852-a090f46aa79d","name":"","source":{"id":"067e97ea-9615-3c18-90c7-ea1c49a705f4","type":"INPUT_PORT","groupId":"bf32aacd-eaa3-3422-b689-9fc3c302c818","name":"Вход","instanceIdentifier":"a8f92cac-0198-1000-954c-4d5ff032f966"},"destination":{"id":"a8f886ab-0198-1000-38ed-5da207cce3f8","type":"PROCESSOR","groupId":"bf32aacd-eaa3-3422-b689-9fc3c302c818","name":"UpdateAttribute","comments":"","instanceIdentifier":"297054bb-f520-3801-6bf8-fc3dcc0c4b62"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf32aacd-eaa3-3422-b689-9fc3c302c818"},{"identifier":"c3fe0397-dfaf-3187-8bb6-6cb796ed9d01","instanceIdentifier":"a8f8bf32-0198-1000-4961-9a9c9bd8ceb3","name":"","source":{"id":"a8f886ab-0198-1000-38ed-5da207cce3f8","type":"PROCESSOR","groupId":"bf32aacd-eaa3-3422-b689-9fc3c302c818","name":"UpdateAttribute","comments":"","instanceIdentifier":"297054bb-f520-3801-6bf8-fc3dcc0c4b62"},"destination":{"id":"a8f8aab6-0198-1000-54e0-45833fb0eedb","type":"PROCESSOR","groupId":"bf32aacd-eaa3-3422-b689-9fc3c302c818","name":"PutFile","comments":"","instanceIdentifier":"5bfc31c7-0812-3d43-633b-9b44b8d35502"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf32aacd-eaa3-3422-b689-9fc3c302c818"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"992877ce-0c82-31aa-9a45-86deec678b48"},{"identifier":"add9d2cf-0198-1000-5535-8d896b81217c","instanceIdentifier":"c5a1f376-e4b2-3640-c329-47974189243b","name":"Запись Postgres (в таблицу inbox)","comments":"","position":{"x":-760.0,"y":-560.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"add9d2d0-0198-1000-eefe-6d1b6446ecd7","instanceIdentifier":"1b3487b1-550b-3e40-78ed-d330f054e448","name":"PutDatabaseRecord","comments":"","position":{"x":-2488.0,"y":-1152.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"5b8e9a48-55bc-3ef6-96ef-ed42d0ec3fef","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"inbox","put-db-record-record-reader":"f18bbe2b-9683-3c0a-b291-d3debbba2bc0"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"add9d2cf-0198-1000-5535-8d896b81217c"}],"inputPorts":[{"identifier":"add9d2d1-0198-1000-1559-b779166f015d","instanceIdentifier":"21b37411-634b-32e4-26de-461031975ada","name":"Вход","position":{"x":-2432.0,"y":-1264.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"add9d2cf-0198-1000-5535-8d896b81217c"}],"outputPorts":[],"connections":[{"identifier":"add9d2d2-0198-1000-3bab-23e8c074eed9","instanceIdentifier":"4907ec81-bd5a-3819-a508-e5c482cc9a8e","name":"","source":{"id":"add9d2d1-0198-1000-1559-b779166f015d","type":"INPUT_PORT","groupId":"add9d2cf-0198-1000-5535-8d896b81217c","name":"Вход","instanceIdentifier":"21b37411-634b-32e4-26de-461031975ada"},"destination":{"id":"add9d2d0-0198-1000-eefe-6d1b6446ecd7","type":"PROCESSOR","groupId":"add9d2cf-0198-1000-5535-8d896b81217c","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1b3487b1-550b-3e40-78ed-d330f054e448"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"add9d2cf-0198-1000-5535-8d896b81217c"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"992877ce-0c82-31aa-9a45-86deec678b48"}],"remoteProcessGroups":[],"processors":[{"identifier":"ae028aab-0198-1000-cf2c-363b868783b7","instanceIdentifier":"276450b2-205f-3be3-e56b-bffa31258e5b","name":"id -> as_id","comments":"","position":{"x":-744.0,"y":-808.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.5.0"},"properties":{"jslt-transform-pretty_print":"true","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"{\n  \"as_id\" : .id,\n  * - id : .\n}","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"992877ce-0c82-31aa-9a45-86deec678b48"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"167d5457-aa83-30a5-b84f-5c18cc356a3d","instanceIdentifier":"ade8a23b-0198-1000-6011-53c0f7c44c68","name":"","source":{"id":"fdf1e933-ab7f-3242-87fe-e81b91939bd6","type":"OUTPUT_PORT","groupId":"3b639f5c-15b1-34cf-b63a-22d43bacea7e","name":"Выход","instanceIdentifier":"9ebe5999-0198-1000-61c7-8560f784cc5f"},"destination":{"id":"ae028aab-0198-1000-cf2c-363b868783b7","type":"PROCESSOR","groupId":"992877ce-0c82-31aa-9a45-86deec678b48","name":"id -> as_id","comments":"","instanceIdentifier":"276450b2-205f-3be3-e56b-bffa31258e5b"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"992877ce-0c82-31aa-9a45-86deec678b48"},{"identifier":"2ab61f8d-47b1-33cf-9389-497d7bd72d0c","instanceIdentifier":"ae042680-0198-1000-8b06-30ba22fa0877","name":"","source":{"id":"ae028aab-0198-1000-cf2c-363b868783b7","type":"PROCESSOR","groupId":"992877ce-0c82-31aa-9a45-86deec678b48","name":"id -> as_id","comments":"","instanceIdentifier":"276450b2-205f-3be3-e56b-bffa31258e5b"},"destination":{"id":"067e97ea-9615-3c18-90c7-ea1c49a705f4","type":"INPUT_PORT","groupId":"bf32aacd-eaa3-3422-b689-9fc3c302c818","name":"Вход","instanceIdentifier":"a8f92cac-0198-1000-954c-4d5ff032f966"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"992877ce-0c82-31aa-9a45-86deec678b48"},{"identifier":"6660ef4d-b2fc-372c-9ef7-a69fd4d8dd06","instanceIdentifier":"ae2aa626-0198-1000-797f-03bb5f11da0e","name":"","source":{"id":"ae028aab-0198-1000-cf2c-363b868783b7","type":"PROCESSOR","groupId":"992877ce-0c82-31aa-9a45-86deec678b48","name":"id -> as_id","comments":"","instanceIdentifier":"276450b2-205f-3be3-e56b-bffa31258e5b"},"destination":{"id":"b99bd14d-b4c3-3130-87a0-0c55194a7f25","type":"INPUT_PORT","groupId":"4f2a3a24-6f49-3a89-b3b3-5248149d610b","name":"Вход","instanceIdentifier":"ae210e72-0198-1000-f30e-cea798445fe0"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"992877ce-0c82-31aa-9a45-86deec678b48"},{"identifier":"ba9eecf8-e9e2-3c49-9c14-e125da23bca7","instanceIdentifier":"ae0cd347-0198-1000-99ae-9f5e2a55b387","name":"","source":{"id":"ae028aab-0198-1000-cf2c-363b868783b7","type":"PROCESSOR","groupId":"992877ce-0c82-31aa-9a45-86deec678b48","name":"id -> as_id","comments":"","instanceIdentifier":"276450b2-205f-3be3-e56b-bffa31258e5b"},"destination":{"id":"add9d2d1-0198-1000-1559-b779166f015d","type":"INPUT_PORT","groupId":"add9d2cf-0198-1000-5535-8d896b81217c","name":"Вход","instanceIdentifier":"21b37411-634b-32e4-26de-461031975ada"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"992877ce-0c82-31aa-9a45-86deec678b48"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"130216ac-2739-3719-8e71-39f26a507284"},{"identifier":"df627e98-dbb2-3ae1-a64c-75918d12177e","instanceIdentifier":"177601c5-90e0-3118-f7b0-b5119f3870e9","name":"Публикация","comments":"","position":{"x":-400.0,"y":-400.0},"processGroups":[{"identifier":"c01aeb40-fff5-334b-b038-582f3af20510","instanceIdentifier":"e1c617fe-cd41-3b4e-4015-c388052402d2","name":"Поштучная обработка","comments":"","position":{"x":-616.0,"y":-368.0},"processGroups":[{"identifier":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad","instanceIdentifier":"e7a2da01-f5af-3e12-5567-72fefa79e11d","name":"Запись в новый файл","comments":"","position":{"x":-2136.0,"y":-712.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a79b185a-e1ed-3a30-ba3b-48ffc552b98d","instanceIdentifier":"3e9bc5b7-b78b-318a-a5ff-54518446ab59","name":"UpdateAttribute","comments":"","position":{"x":-2600.0,"y":-1072.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"${uuid}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad"},{"identifier":"417c23fc-4608-3dbe-ae7d-ab79ba0804a7","instanceIdentifier":"ec31218a-4aa4-3757-ccd4-ffcaf66f4dfc","name":"PutFile","comments":"","position":{"x":-2600.0,"y":-848.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/var/data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad"}],"inputPorts":[{"identifier":"07db2c71-693f-371c-beca-fe42946ff2cf","instanceIdentifier":"0034b445-77ab-3487-d6b3-284ba8432136","name":"Вход","position":{"x":-2544.0,"y":-1192.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad"}],"outputPorts":[],"connections":[{"identifier":"19fbfdb2-b69b-324f-a987-cadad1b4ac89","instanceIdentifier":"7e74e275-1a00-3921-d67e-cc3acfee7ea4","name":"","source":{"id":"07db2c71-693f-371c-beca-fe42946ff2cf","type":"INPUT_PORT","groupId":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad","name":"Вход","instanceIdentifier":"0034b445-77ab-3487-d6b3-284ba8432136"},"destination":{"id":"a79b185a-e1ed-3a30-ba3b-48ffc552b98d","type":"PROCESSOR","groupId":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad","name":"UpdateAttribute","comments":"","instanceIdentifier":"3e9bc5b7-b78b-318a-a5ff-54518446ab59"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad"},{"identifier":"8aa8353d-0f38-3cae-8f2d-0fb70c696ec8","instanceIdentifier":"d3a85d61-0182-3e04-37c9-36f0e169a067","name":"","source":{"id":"a79b185a-e1ed-3a30-ba3b-48ffc552b98d","type":"PROCESSOR","groupId":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad","name":"UpdateAttribute","comments":"","instanceIdentifier":"3e9bc5b7-b78b-318a-a5ff-54518446ab59"},"destination":{"id":"417c23fc-4608-3dbe-ae7d-ab79ba0804a7","type":"PROCESSOR","groupId":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad","name":"PutFile","comments":"","instanceIdentifier":"ec31218a-4aa4-3757-ccd4-ffcaf66f4dfc"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c01aeb40-fff5-334b-b038-582f3af20510"},{"identifier":"e3dc7ed1-051b-3701-b085-7251440029f1","instanceIdentifier":"0986b43a-7626-3d9c-14fd-60ed4d09b5dc","name":"Запись в таблицу в Postgres","comments":"","position":{"x":-1600.0,"y":-712.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"18e7621c-0198-1000-e576-0164b826be11","instanceIdentifier":"e7e48e92-6045-3a37-17a7-a751fefc839d","name":"PutDatabaseRecord","comments":"","position":{"x":-2488.0,"y":-1152.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"8a8af4f1-66dd-34ff-9c6d-a4d64b1c7833","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"nifi","put-db-record-record-reader":"6108aaca-dd88-3ddc-a241-9ebf1fa647b2"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3dc7ed1-051b-3701-b085-7251440029f1"}],"inputPorts":[{"identifier":"7a6fcfe3-d082-3356-bf09-84af6dd7ec83","instanceIdentifier":"51d2002a-d1f8-30a0-d260-aa749dedf06d","name":"Вход","position":{"x":-2432.0,"y":-1264.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"e3dc7ed1-051b-3701-b085-7251440029f1"}],"outputPorts":[],"connections":[{"identifier":"090313f8-4868-3b87-b5b6-d92fa075e123","instanceIdentifier":"aef0dacb-842a-3a11-a646-6da249c56c15","name":"","source":{"id":"7a6fcfe3-d082-3356-bf09-84af6dd7ec83","type":"INPUT_PORT","groupId":"e3dc7ed1-051b-3701-b085-7251440029f1","name":"Вход","instanceIdentifier":"51d2002a-d1f8-30a0-d260-aa749dedf06d"},"destination":{"id":"18e7621c-0198-1000-e576-0164b826be11","type":"PROCESSOR","groupId":"e3dc7ed1-051b-3701-b085-7251440029f1","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"e7e48e92-6045-3a37-17a7-a751fefc839d"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3dc7ed1-051b-3701-b085-7251440029f1"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c01aeb40-fff5-334b-b038-582f3af20510"},{"identifier":"95e20d95-6479-3354-871c-ea7b5b082962","instanceIdentifier":"bb9437bd-38d5-37e4-8bd6-c1e91ebc7653","name":"Запись в Kafka (в топик outbox)","comments":"","position":{"x":-1056.0,"y":-712.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4537b803-83dd-3ff2-be1c-182c79e33cc9","instanceIdentifier":"5965a5d1-de77-3a59-53fa-54ae22a26a4c","name":"PublishKafka","comments":"","position":{"x":-2576.0,"y":-872.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.5.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"outbox","Kafka Key":null,"partition":null,"Kafka Connection Service":"659e2302-8cc7-3521-ad86-c764b13ef79f","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":"as_id","FlowFile Attribute Header Pattern":".+"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95e20d95-6479-3354-871c-ea7b5b082962"},{"identifier":"537f27d1-0866-3eef-9aa1-3d24a563eba4","instanceIdentifier":"994abdc1-91ae-3914-3608-1e80b3ec26db","name":"UpdateAttribute","comments":"","position":{"x":-2576.0,"y":-1088.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"kafka.key":"${uuid}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95e20d95-6479-3354-871c-ea7b5b082962"}],"inputPorts":[{"identifier":"bfc81084-1063-35be-9aca-7cbdfa05a6d0","instanceIdentifier":"45b9e6db-8716-3de0-c08b-8e808cd633be","name":"Вход","position":{"x":-2520.0,"y":-1200.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"95e20d95-6479-3354-871c-ea7b5b082962"}],"outputPorts":[],"connections":[{"identifier":"dab8b77d-7b2f-3792-82d9-a8a9a2bc7b8d","instanceIdentifier":"f1dde8c7-5d46-30cb-1bf9-6a0c1540375f","name":"","source":{"id":"537f27d1-0866-3eef-9aa1-3d24a563eba4","type":"PROCESSOR","groupId":"95e20d95-6479-3354-871c-ea7b5b082962","name":"UpdateAttribute","comments":"","instanceIdentifier":"994abdc1-91ae-3914-3608-1e80b3ec26db"},"destination":{"id":"4537b803-83dd-3ff2-be1c-182c79e33cc9","type":"PROCESSOR","groupId":"95e20d95-6479-3354-871c-ea7b5b082962","name":"PublishKafka","comments":"","instanceIdentifier":"5965a5d1-de77-3a59-53fa-54ae22a26a4c"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95e20d95-6479-3354-871c-ea7b5b082962"},{"identifier":"91df26ec-afb4-3aaa-ad2c-257c6065cc32","instanceIdentifier":"15a8e9c3-8dc2-3a5a-61b8-387786c2d604","name":"","source":{"id":"bfc81084-1063-35be-9aca-7cbdfa05a6d0","type":"INPUT_PORT","groupId":"95e20d95-6479-3354-871c-ea7b5b082962","name":"Вход","instanceIdentifier":"45b9e6db-8716-3de0-c08b-8e808cd633be"},"destination":{"id":"537f27d1-0866-3eef-9aa1-3d24a563eba4","type":"PROCESSOR","groupId":"95e20d95-6479-3354-871c-ea7b5b082962","name":"UpdateAttribute","comments":"","instanceIdentifier":"994abdc1-91ae-3914-3608-1e80b3ec26db"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95e20d95-6479-3354-871c-ea7b5b082962"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"659e2302-8cc7-3521-ad86-c764b13ef79f","instanceIdentifier":"bb4aa2bb-cba0-3a00-681e-79248904a864","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.5.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"95e20d95-6479-3354-871c-ea7b5b082962"}],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c01aeb40-fff5-334b-b038-582f3af20510"}],"remoteProcessGroups":[],"processors":[{"identifier":"f733d628-593f-3dac-93f4-236a9bc0636f","instanceIdentifier":"bef33ee5-e57c-3d5d-6cab-38d313f68198","name":"SplitJson","comments":"","position":{"x":-1584.0,"y":-1008.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c01aeb40-fff5-334b-b038-582f3af20510"}],"inputPorts":[{"identifier":"147b3f14-2028-37da-8529-d45ca2de0d1c","instanceIdentifier":"f919fb9e-426f-3832-2ccc-e2505b4e2de3","name":"Вход","position":{"x":-1528.0,"y":-1128.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"c01aeb40-fff5-334b-b038-582f3af20510"}],"outputPorts":[],"connections":[{"identifier":"9cd4b9b1-3f2e-397a-a116-60755cff5f75","instanceIdentifier":"ae4cf954-0198-1000-33e1-78f881f2a25e","name":"","source":{"id":"f733d628-593f-3dac-93f4-236a9bc0636f","type":"PROCESSOR","groupId":"c01aeb40-fff5-334b-b038-582f3af20510","name":"SplitJson","comments":"","instanceIdentifier":"bef33ee5-e57c-3d5d-6cab-38d313f68198"},"destination":{"id":"bfc81084-1063-35be-9aca-7cbdfa05a6d0","type":"INPUT_PORT","groupId":"95e20d95-6479-3354-871c-ea7b5b082962","name":"Вход","instanceIdentifier":"45b9e6db-8716-3de0-c08b-8e808cd633be"},"labelIndex":0,"zIndex":6,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c01aeb40-fff5-334b-b038-582f3af20510"},{"identifier":"8046ecf5-20be-35cd-9d23-04a3220d8208","instanceIdentifier":"ae4d4b72-0198-1000-8105-b70c6f231809","name":"","source":{"id":"f733d628-593f-3dac-93f4-236a9bc0636f","type":"PROCESSOR","groupId":"c01aeb40-fff5-334b-b038-582f3af20510","name":"SplitJson","comments":"","instanceIdentifier":"bef33ee5-e57c-3d5d-6cab-38d313f68198"},"destination":{"id":"07db2c71-693f-371c-beca-fe42946ff2cf","type":"INPUT_PORT","groupId":"c1f5d2bd-ce3b-3f64-a730-bb694c5536ad","name":"Вход","instanceIdentifier":"0034b445-77ab-3487-d6b3-284ba8432136"},"labelIndex":0,"zIndex":7,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c01aeb40-fff5-334b-b038-582f3af20510"},{"identifier":"f0caaa39-6992-3424-875b-66fe1515206d","instanceIdentifier":"447ad9a6-ead6-38e1-4377-d50c1046460d","name":"","source":{"id":"147b3f14-2028-37da-8529-d45ca2de0d1c","type":"INPUT_PORT","groupId":"c01aeb40-fff5-334b-b038-582f3af20510","name":"Вход","instanceIdentifier":"f919fb9e-426f-3832-2ccc-e2505b4e2de3"},"destination":{"id":"f733d628-593f-3dac-93f4-236a9bc0636f","type":"PROCESSOR","groupId":"c01aeb40-fff5-334b-b038-582f3af20510","name":"SplitJson","comments":"","instanceIdentifier":"bef33ee5-e57c-3d5d-6cab-38d313f68198"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c01aeb40-fff5-334b-b038-582f3af20510"},{"identifier":"69a275f8-9884-3b85-a03e-125e1aa53009","instanceIdentifier":"ae4d5d22-0198-1000-e62e-86f96d86515d","name":"","source":{"id":"f733d628-593f-3dac-93f4-236a9bc0636f","type":"PROCESSOR","groupId":"c01aeb40-fff5-334b-b038-582f3af20510","name":"SplitJson","comments":"","instanceIdentifier":"bef33ee5-e57c-3d5d-6cab-38d313f68198"},"destination":{"id":"7a6fcfe3-d082-3356-bf09-84af6dd7ec83","type":"INPUT_PORT","groupId":"e3dc7ed1-051b-3701-b085-7251440029f1","name":"Вход","instanceIdentifier":"51d2002a-d1f8-30a0-d260-aa749dedf06d"},"labelIndex":0,"zIndex":8,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c01aeb40-fff5-334b-b038-582f3af20510"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"df627e98-dbb2-3ae1-a64c-75918d12177e"}],"remoteProcessGroups":[],"processors":[{"identifier":"725dd9d5-4b41-36ae-9aa8-977c5f7fce96","instanceIdentifier":"4812fafd-9889-39d3-9b9f-b4a77e549198","name":"GenerateFlowFile","comments":"","position":{"x":-600.0,"y":-600.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"[\n  {\n    \"id\": 1,\n    \"name\": \"ivan1\",\n    \"family\": \"ivanov1\"\n  },\n  {\n    \"id\": 2,\n    \"name\": \"ivan2\",\n    \"family\": \"ivanov2\"\n  },\n  {\n    \"id\": 3,\n    \"name\": \"ivan3\",\n    \"family\": \"ivanov3\"\n  }\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df627e98-dbb2-3ae1-a64c-75918d12177e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"72d2aa58-3f0a-3bcc-82cb-4abd16e535c3","instanceIdentifier":"169bf0cb-a8d7-35f1-508b-20140bd5090c","name":"","source":{"id":"725dd9d5-4b41-36ae-9aa8-977c5f7fce96","type":"PROCESSOR","groupId":"df627e98-dbb2-3ae1-a64c-75918d12177e","name":"GenerateFlowFile","comments":"","instanceIdentifier":"4812fafd-9889-39d3-9b9f-b4a77e549198"},"destination":{"id":"147b3f14-2028-37da-8529-d45ca2de0d1c","type":"INPUT_PORT","groupId":"c01aeb40-fff5-334b-b038-582f3af20510","name":"Вход","instanceIdentifier":"f919fb9e-426f-3832-2ccc-e2505b4e2de3"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df627e98-dbb2-3ae1-a64c-75918d12177e"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8a8af4f1-66dd-34ff-9c6d-a4d64b1c7833","instanceIdentifier":"37307eae-91bd-3721-6b10-af31f4aa982a","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{postgres_host}:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"#{postgres_user}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions","dbcp-max-idle-conns":"8","Password":"#{postgres_password}"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df627e98-dbb2-3ae1-a64c-75918d12177e"},{"identifier":"6108aaca-dd88-3ddc-a241-9ebf1fa647b2","instanceIdentifier":"c8d25739-4338-34ad-532b-a5ded8e70801","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df627e98-dbb2-3ae1-a64c-75918d12177e"}],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"130216ac-2739-3719-8e71-39f26a507284"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"f18bbe2b-9683-3c0a-b291-d3debbba2bc0","instanceIdentifier":"ade5adb4-0198-1000-ae1d-348e64b3b5de","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"130216ac-2739-3719-8e71-39f26a507284"},{"identifier":"6b3cffbe-596f-3c84-ad53-c9eccb56e75f","instanceIdentifier":"ae2706a0-0198-1000-574e-fc2b8968f341","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.5.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"#{kafka_host}:9092 ","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"130216ac-2739-3719-8e71-39f26a507284"},{"identifier":"5b8e9a48-55bc-3ef6-96ef-ed42d0ec3fef","instanceIdentifier":"addf65fd-0198-1000-a015-9163aba469a3","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{postgres_host}:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"#{postgres_user}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions","dbcp-max-idle-conns":"8","Password":"#{postgres_password}"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"130216ac-2739-3719-8e71-39f26a507284"}],"parameterContextName":"Test1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"31d4498c-6340-3b09-847f-80c8aa08e8aa"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Test1":{"name":"Test1","parameters":[{"name":"postgres_user","description":"","sensitive":false,"provided":false,"value":"postgres"},{"name":"kafka_host","description":"","sensitive":false,"provided":false,"value":"kafka"},{"name":"Database Connection Pooling Service","description":"","sensitive":false,"provided":false,"value":"addf65fd-0198-1000-a015-9163aba469a3"},{"name":"Kafka Connection Service","description":"","sensitive":false,"provided":false,"value":"6b3cffbe-596f-3c84-ad53-c9eccb56e75f"},{"name":"postgres_host","description":"","sensitive":false,"provided":false,"value":"172.18.0.2"},{"name":"Record Reader","description":"","sensitive":false,"provided":false,"value":"ade5adb4-0198-1000-ae1d-348e64b3b5de"},{"name":"postgres_password","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}