Test1.json
{
  "flowContents": {
    "identifier": "df627e98-dbb2-3ae1-a64c-75918d12177e",
    "instanceIdentifier": "8485c6b4-0198-1000-185a-15363af468e8",
    "name": "Test1",
    "comments": "",
    "position": {
      "x": -308.0,
      "y": -258.0
    },
    "processGroups": [
      {
        "identifier": "c01aeb40-fff5-334b-b038-582f3af20510",
        "instanceIdentifier": "8d2b81e2-3c7a-3922-1fd6-bb2c761280e9",
        "name": "Поштучная обработка",
        "comments": "",
        "position": {
          "x": -616.0,
          "y": -360.0
        },
        "processGroups": [
          {
            "identifier": "e3dc7ed1-051b-3701-b085-7251440029f1",
            "instanceIdentifier": "33119ae0-b444-3152-b2b9-d22e561a2dae",
            "name": "Запись в Postgres",
            "comments": "",
            "position": {
              "x": -1192.0,
              "y": -568.0
            },
            "processGroups": [],
            "remoteProcessGroups": [],
            "processors": [
              {
                "identifier": "18e7621c-0198-1000-e576-0164b826be11",
                "instanceIdentifier": "d3697832-95af-3824-a6c1-d66c0c4dea42",
                "name": "PutDatabaseRecord",
                "comments": "",
                "position": {
                  "x": -2488.0,
                  "y": -1152.0
                },
                "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-nar",
                  "version": "2.4.0"
                },
                "properties": {
                  "put-db-record-allow-multiple-statements": "false",
                  "put-db-record-schema-name": null,
                  "put-db-record-field-containing-sql": null,
                  "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
                  "Delete Keys": null,
                  "put-db-record-catalog-name": null,
                  "put-db-record-statement-type": "INSERT",
                  "put-db-record-update-keys": null,
                  "put-db-record-quoted-identifiers": "false",
                  "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
                  "put-db-record-max-batch-size": "1000",
                  "Database Dialect Service": null,
                  "Data Record Path": null,
                  "database-session-autocommit": "false",
                  "table-schema-cache-size": "100",
                  "put-db-record-quoted-table-identifiers": "false",
                  "Statement Type Record Path": null,
                  "Column Name Translation Pattern": null,
                  "put-db-record-translate-field-names": "true",
                  "put-db-record-dcbp-service": "8a8af4f1-66dd-34ff-9c6d-a4d64b1c7833",
                  "put-db-record-query-timeout": "0 seconds",
                  "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
                  "rollback-on-failure": "false",
                  "put-db-record-binary-format": "UTF-8",
                  "db-type": "PostgreSQL",
                  "put-db-record-table-name": "nifi",
                  "put-db-record-record-reader": "6108aaca-dd88-3ddc-a241-9ebf1fa647b2"
                },
                "propertyDescriptors": {
                  "put-db-record-allow-multiple-statements": {
                    "name": "put-db-record-allow-multiple-statements",
                    "displayName": "Allow Multiple SQL Statements",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-schema-name": {
                    "name": "put-db-record-schema-name",
                    "displayName": "Schema Name",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-field-containing-sql": {
                    "name": "put-db-record-field-containing-sql",
                    "displayName": "Field Containing SQL",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-unmatched-column-behavior": {
                    "name": "put-db-record-unmatched-column-behavior",
                    "displayName": "Unmatched Column Behavior",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "Delete Keys": {
                    "name": "Delete Keys",
                    "displayName": "Delete Keys",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-catalog-name": {
                    "name": "put-db-record-catalog-name",
                    "displayName": "Catalog Name",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-statement-type": {
                    "name": "put-db-record-statement-type",
                    "displayName": "Statement Type",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-update-keys": {
                    "name": "put-db-record-update-keys",
                    "displayName": "Update Keys",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-quoted-identifiers": {
                    "name": "put-db-record-quoted-identifiers",
                    "displayName": "Quote Column Identifiers",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-unmatched-field-behavior": {
                    "name": "put-db-record-unmatched-field-behavior",
                    "displayName": "Unmatched Field Behavior",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-max-batch-size": {
                    "name": "put-db-record-max-batch-size",
                    "displayName": "Maximum Batch Size",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "Database Dialect Service": {
                    "name": "Database Dialect Service",
                    "displayName": "Database Dialect Service",
                    "identifiesControllerService": true,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "Data Record Path": {
                    "name": "Data Record Path",
                    "displayName": "Data Record Path",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "database-session-autocommit": {
                    "name": "database-session-autocommit",
                    "displayName": "Database Session AutoCommit",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "table-schema-cache-size": {
                    "name": "table-schema-cache-size",
                    "displayName": "Table Schema Cache Size",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-quoted-table-identifiers": {
                    "name": "put-db-record-quoted-table-identifiers",
                    "displayName": "Quote Table Identifiers",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "Statement Type Record Path": {
                    "name": "Statement Type Record Path",
                    "displayName": "Statement Type Record Path",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "Column Name Translation Pattern": {
                    "name": "Column Name Translation Pattern",
                    "displayName": "Column Name Translation Pattern",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-translate-field-names": {
                    "name": "put-db-record-translate-field-names",
                    "displayName": "Translate Field Names",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-dcbp-service": {
                    "name": "put-db-record-dcbp-service",
                    "displayName": "Database Connection Pooling Service",
                    "identifiesControllerService": true,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-query-timeout": {
                    "name": "put-db-record-query-timeout",
                    "displayName": "Max Wait Time",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "Column Name Translation Strategy": {
                    "name": "Column Name Translation Strategy",
                    "displayName": "Column Name Translation Strategy",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "rollback-on-failure": {
                    "name": "rollback-on-failure",
                    "displayName": "Rollback On Failure",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-binary-format": {
                    "name": "put-db-record-binary-format",
                    "displayName": "Binary String Format",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "db-type": {
                    "name": "db-type",
                    "displayName": "Database Type",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-table-name": {
                    "name": "put-db-record-table-name",
                    "displayName": "Table Name",
                    "identifiesControllerService": false,
                    "sensitive": false,
                    "dynamic": false
                  },
                  "put-db-record-record-reader": {
                    "name": "put-db-record-record-reader",
                    "displayName": "Record Reader",
                    "identifiesControllerService": true,
                    "sensitive": false,
                    "dynamic": false
                  }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                  "success",
                  "failure",
                  "retry"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e3dc7ed1-051b-3701-b085-7251440029f1"
              }
            ],
            "inputPorts": [
              {
                "identifier": "7a6fcfe3-d082-3356-bf09-84af6dd7ec83",
                "instanceIdentifier": "98375bb7-3986-3b4a-bbea-f75728b787ae",
                "name": "Вход",
                "position": {
                  "x": -2432.0,
                  "y": -1264.0
                },
                "type": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "scheduledState": "ENABLED",
                "allowRemoteAccess": false,
                "portFunction": "STANDARD",
                "componentType": "INPUT_PORT",
                "groupIdentifier": "e3dc7ed1-051b-3701-b085-7251440029f1"
              }
            ],
            "outputPorts": [],
            "connections": [
              {
                "identifier": "090313f8-4868-3b87-b5b6-d92fa075e123",
                "instanceIdentifier": "1836d9ca-f897-3a2b-dc1f-3d46a0f8b7e5",
                "name": "",
                "source": {
                  "id": "7a6fcfe3-d082-3356-bf09-84af6dd7ec83",
                  "type": "INPUT_PORT",
                  "groupId": "e3dc7ed1-051b-3701-b085-7251440029f1",
                  "name": "Вход",
                  "instanceIdentifier": "98375bb7-3986-3b4a-bbea-f75728b787ae"
                },
                "destination": {
                  "id": "18e7621c-0198-1000-e576-0164b826be11",
                  "type": "PROCESSOR",
                  "groupId": "e3dc7ed1-051b-3701-b085-7251440029f1",
                  "name": "PutDatabaseRecord",
                  "comments": "",
                  "instanceIdentifier": "d3697832-95af-3824-a6c1-d66c0c4dea42"
                },
                "labelIndex": 0,
                "zIndex": 1,
                "selectedRelationships": [
                  ""
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e3dc7ed1-051b-3701-b085-7251440029f1"
              }
            ],
            "labels": [],
            "funnels": [],
            "controllerServices": [],
            "defaultFlowFileExpiration": "0 sec",
            "defaultBackPressureObjectThreshold": 10000,
            "defaultBackPressureDataSizeThreshold": "1 GB",
            "scheduledState": "ENABLED",
            "executionEngine": "INHERITED",
            "maxConcurrentTasks": 1,
            "statelessFlowTimeout": "1 min",
            "flowFileConcurrency": "UNBOUNDED",
            "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
            "componentType": "PROCESS_GROUP",
            "groupIdentifier": "c01aeb40-fff5-334b-b038-582f3af20510"
          }
        ],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "fb354547-433f-3869-aa93-96c3a98a46f2",
            "instanceIdentifier": "b1cf907d-a2b4-3cb2-243d-89de7f5d1d56",
            "name": "JSLTTransformJSON",
            "comments": "",
            "position": {
              "x": -1576.0,
              "y": -784.0
            },
            "type": "org.apache.nifi.processors.jslt.JSLTTransformJSON",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-jslt-nar",
              "version": "2.4.0"
            },
            "properties": {
              "jslt-transform-pretty_print": "false",
              "jslt-transform-result-filter": ". != null and . != {} and . != []",
              "jslt-transform-transformation": "{\n  \"as_id\" : .id,\n  * - id : .\n}",
              "jslt-transform-cache-size": "1",
              "jslt-transform-transformation-strategy": "EACH_OBJECT"
            },
            "propertyDescriptors": {
              "jslt-transform-pretty_print": {
                "name": "jslt-transform-pretty_print",
                "displayName": "Pretty Print",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "jslt-transform-result-filter": {
                "name": "jslt-transform-result-filter",
                "displayName": "Transform Result Filter",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "jslt-transform-transformation": {
                "name": "jslt-transform-transformation",
                "displayName": "JSLT Transformation",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false,
                "resourceDefinition": {
                  "cardinality": "SINGLE",
                  "resourceTypes": [
                    "FILE",
                    "TEXT"
                  ]
                }
              },
              "jslt-transform-cache-size": {
                "name": "jslt-transform-cache-size",
                "displayName": "Transform Cache Size",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "jslt-transform-transformation-strategy": {
                "name": "jslt-transform-transformation-strategy",
                "displayName": "Transformation Strategy",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c01aeb40-fff5-334b-b038-582f3af20510"
          },
          {
            "identifier": "f733d628-593f-3dac-93f4-236a9bc0636f",
            "instanceIdentifier": "ee896499-b210-3e0b-8376-c2ac15a04c30",
            "name": "SplitJson",
            "comments": "",
            "position": {
              "x": -1584.0,
              "y": -1008.0
            },
            "type": "org.apache.nifi.processors.standard.SplitJson",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.4.0"
            },
            "properties": {
              "Max String Length": "20 MB",
              "Null Value Representation": "empty string",
              "JsonPath Expression": "$"
            },
            "propertyDescriptors": {
              "Max String Length": {
                "name": "Max String Length",
                "displayName": "Max String Length",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "Null Value Representation": {
                "name": "Null Value Representation",
                "displayName": "Null Value Representation",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              },
              "JsonPath Expression": {
                "name": "JsonPath Expression",
                "displayName": "JsonPath Expression",
                "identifiesControllerService": false,
                "sensitive": false,
                "dynamic": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "original",
              "failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "c01aeb40-fff5-334b-b038-582f3af20510"
          }
        ],
        "inputPorts": [
          {
            "identifier": "147b3f14-2028-37da-8529-d45ca2de0d1c",
            "instanceIdentifier": "c6336232-319e-38bd-922f-e9f924be05d4",
            "name": "Вход",
            "position": {
              "x": -1528.0,
              "y": -1128.0
            },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "portFunction": "STANDARD",
            "componentType": "INPUT_PORT",
            "groupIdentifier": "c01aeb40-fff5-334b-b038-582f3af20510"
          }
        ],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "d5947133-a153-3f34-a331-3e982e18df41",
            "instanceIdentifier": "6063ae43-f0be-38eb-00a3-fa53c74464d8",
            "name": "",
            "source": {
              "id": "f733d628-593f-3dac-93f4-236a9bc0636f",
              "type": "PROCESSOR",
              "groupId": "c01aeb40-fff5-334b-b038-582f3af20510",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "ee896499-b210-3e0b-8376-c2ac15a04c30"
            },
            "destination": {
              "id": "fb354547-433f-3869-aa93-96c3a98a46f2",
              "type": "PROCESSOR",
              "groupId": "c01aeb40-fff5-334b-b038-582f3af20510",
              "name": "JSLTTransformJSON",
              "comments": "",
              "instanceIdentifier": "b1cf907d-a2b4-3cb2-243d-89de7f5d1d56"
            },
            "labelIndex": 0,
            "zIndex": 3,
            "selectedRelationships": [
              "split"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c01aeb40-fff5-334b-b038-582f3af20510"
          },
          {
            "identifier": "ee1b8064-638e-365d-a00e-b2a03d3b1a6e",
            "instanceIdentifier": "58586468-27d8-3476-db83-0d66b2b67cad",
            "name": "",
            "source": {
              "id": "fb354547-433f-3869-aa93-96c3a98a46f2",
              "type": "PROCESSOR",
              "groupId": "c01aeb40-fff5-334b-b038-582f3af20510",
              "name": "JSLTTransformJSON",
              "comments": "",
              "instanceIdentifier": "b1cf907d-a2b4-3cb2-243d-89de7f5d1d56"
            },
            "destination": {
              "id": "7a6fcfe3-d082-3356-bf09-84af6dd7ec83",
              "type": "INPUT_PORT",
              "groupId": "e3dc7ed1-051b-3701-b085-7251440029f1",
              "name": "Вход",
              "instanceIdentifier": "98375bb7-3986-3b4a-bbea-f75728b787ae"
            },
            "labelIndex": 0,
            "zIndex": 4,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c01aeb40-fff5-334b-b038-582f3af20510"
          },
          {
            "identifier": "f0caaa39-6992-3424-875b-66fe1515206d",
            "instanceIdentifier": "d5d8e821-6778-3c37-617d-3aa56ba91036",
            "name": "",
            "source": {
              "id": "147b3f14-2028-37da-8529-d45ca2de0d1c",
              "type": "INPUT_PORT",
              "groupId": "c01aeb40-fff5-334b-b038-582f3af20510",
              "name": "Вход",
              "instanceIdentifier": "c6336232-319e-38bd-922f-e9f924be05d4"
            },
            "destination": {
              "id": "f733d628-593f-3dac-93f4-236a9bc0636f",
              "type": "PROCESSOR",
              "groupId": "c01aeb40-fff5-334b-b038-582f3af20510",
              "name": "SplitJson",
              "comments": "",
              "instanceIdentifier": "ee896499-b210-3e0b-8376-c2ac15a04c30"
            },
            "labelIndex": 0,
            "zIndex": 1,
            "selectedRelationships": [
              ""
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "c01aeb40-fff5-334b-b038-582f3af20510"
          }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP",
        "groupIdentifier": "df627e98-dbb2-3ae1-a64c-75918d12177e"
      }
    ],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "725dd9d5-4b41-36ae-9aa8-977c5f7fce96",
        "instanceIdentifier": "29dda63d-9a62-368a-a87e-199cfd224bb3",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": -600.0,
          "y": -600.0
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0B",
          "mime-type": "application/json",
          "generate-ff-custom-text": "[\n  {\n    \"id\": 1,\n    \"name\": \"ivan1\",\n    \"family\": \"ivanov1\"\n  },\n  {\n    \"id\": 2,\n    \"name\": \"ivan2\",\n    \"family\": \"ivanov2\"\n  },\n  {\n    \"id\": 3,\n    \"name\": \"ivan3\",\n    \"family\": \"ivanov3\"\n  }\n]",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "File Size": {
            "name": "File Size",
            "displayName": "File Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "mime-type": {
            "name": "mime-type",
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "generate-ff-custom-text": {
            "name": "generate-ff-custom-text",
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unique FlowFiles": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Data Format": {
            "name": "Data Format",
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "df627e98-dbb2-3ae1-a64c-75918d12177e"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "72d2aa58-3f0a-3bcc-82cb-4abd16e535c3",
        "instanceIdentifier": "4cefc420-bea8-3dd4-c46b-c6bc6761114b",
        "name": "",
        "source": {
          "id": "725dd9d5-4b41-36ae-9aa8-977c5f7fce96",
          "type": "PROCESSOR",
          "groupId": "df627e98-dbb2-3ae1-a64c-75918d12177e",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "29dda63d-9a62-368a-a87e-199cfd224bb3"
        },
        "destination": {
          "id": "147b3f14-2028-37da-8529-d45ca2de0d1c",
          "type": "INPUT_PORT",
          "groupId": "c01aeb40-fff5-334b-b038-582f3af20510",
          "name": "Вход",
          "instanceIdentifier": "c6336232-319e-38bd-922f-e9f924be05d4"
        },
        "labelIndex": 0,
        "zIndex": 1,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "df627e98-dbb2-3ae1-a64c-75918d12177e"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "6108aaca-dd88-3ddc-a241-9ebf1fa647b2",
        "instanceIdentifier": "b81b0114-3f83-3b56-01ba-6c0538ccba87",
        "name": "JsonTreeReader",
        "comments": "",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.4.0"
        },
        "properties": {
          "schema-reference-reader": null,
          "schema-branch": null,
          "Max String Length": "20 MB",
          "schema-application-strategy": "SELECTED_PART",
          "Timestamp Format": null,
          "schema-inference-cache": null,
          "Date Format": null,
          "schema-name": "${schema.name}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-registry": null,
          "starting-field-name": null,
          "Time Format": null,
          "schema-access-strategy": "infer-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}",
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "schema-reference-reader": {
            "name": "schema-reference-reader",
            "displayName": "Schema Reference Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-application-strategy": {
            "name": "schema-application-strategy",
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-inference-cache": {
            "name": "schema-inference-cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "starting-field-strategy": {
            "name": "starting-field-strategy",
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "starting-field-name": {
            "name": "starting-field-name",
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow Comments": {
            "name": "Allow Comments",
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.4.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "df627e98-dbb2-3ae1-a64c-75918d12177e"
      },
      {
        "identifier": "8a8af4f1-66dd-34ff-9c6d-a4d64b1c7833",
        "instanceIdentifier": "8bb1c60e-e77c-3dd7-c27f-ff81dcd9b562",
        "name": "DBCPConnectionPool",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "2.4.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": null,
          "Database Connection URL": "jdbc:postgresql://172.18.0.2:5432/postgres",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "postgres",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "/opt/nifi/nifi-current/extensions",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE",
                "URL"
              ]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.4.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "df627e98-dbb2-3ae1-a64c-75918d12177e"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}